<!-- <div class="header-area" [class]="fixed ? 'header-fixed' : 'header'">

</div>  -->

<div class="header-main">
  <div class="navbar-top">
    <div class="container">
      <div class="header-top-main">
        <ul>
          <li>
            <i class="fa-brands fa-envira"></i>
            <p>Open hour - 10 am - 11 pm</p>
          </li>
          <li>
            <i class="fa-solid fa-phone"></i>
            <p>+00 123 456 789 000</p>
          </li>
          <li>
            <i class="fa-solid fa-envelope"></i>
            <p>support@example.com</p>
          </li>
        </ul>
        <div class="social">
          <a href="">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a href="">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="">
            <i class="fa-brands fa-google-plus-g"></i>
          </a>
          <a href="">
            <i class="fa-brands fa-skype"></i>
          </a>
          <a href="">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-bottom">
    
    <div class="container">
      <div class="navbar-bottom-main">
        <div class="logo">
          <img src="../../../assets/images/brand/logo.png" alt="" />
        </div>
        <ul>
          <li><a href="">HOME</a></li>
          <li><a href="">ABOUT US</a></li>
          <li><a href="">MENU</a></li> 
          <li><a href="">RESERVATION</a></li>
           <li><a href="">BLOG</a></li>
            <li><a href="">CONTACT US</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- 
 <div class="silde" [class]="sideNav ? 'side-nav-active' : 'side-nav-inactive'">
  <div class="slide-title">
    <h3>Menu</h3>
  </div>
  <div class="slide-menu">
    <ul>
      <li><a (click)="onNavigate('home')">HOME</a></li>
      <li><a (click)="onNavigate('about')">ABOUT US</a></li>
      <li><a (click)="onNavigate('offer')">OFFER</a></li>
      <li><a (click)="onNavigate('menu')">MENU</a></li>
      <li><a (click)="onNavigate('team')">TEAM</a></li>
      <li><a (click)="onNavigate('blog')">BLOG</a></li>
      <li><a (click)="onNavigate('gallery')">GALLERY</a></li>
      <li><a (click)="onNavigate('contact')">CONTACT</a></li>
    </ul>
  </div>
  <div class="cross">
    <span (click)="sideNavInactive()"><i class="fa fa-xmark"></i></span>
  </div>
</div>
<div class="overlay" *ngIf="sideNav" (click)="sideNavInactive()"></div>  -->